<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/Public/css/adminInventory.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
    <div class="hed">
        <p>Total Donors : {{C_Tot}} &nbsp;&nbsp;&nbsp;&nbsp; |</p>&nbsp;
    </div><br>
    <div class="redbox">
        <div>
            <img class="himg" src="/Public/img/logonew.png" alt="logo" />
        </div>
        <div class="l">
            <a href="/admin/adminhome">Home</a>
            <div class="dropdown">
                <button class="dropbtn">Camp</button>
                <div class="dropdown-content">
                    <a href="/admin/admincamp">New</a>
                    <a href="/admin/adminCampDetail">Details</a>
                </div>
            </div>
            <a href="/admin/adminDonor">Donor</a>
            <div class="dropdown">
                <button class="dropbtn">Request </button>
                <div class="dropdown-content">
                    <a href="/admin/adminRequest">New </a>
                    <a href="/admin/adminRequestManage">Manage </a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Appointment </button>
                <div class="dropdown-content">
                    <a href="/admin/appointment">Manage</a>
                    <a href="#"> Details</a>
                </div>
            </div>
        </div>
        <div class="dropdown">
            <img class="himg" src="/Public/img/h2.png" alt="profile">
            <div class="dropdown-content">
                <a href="/admin/inventory">Inventery</a>
                <a href="/admin/">Logout</a>
            </div>


        </div>
    </div>
     <div class="searchSide">
            <div class="searchbox"><form action="/admin/showIven" method="post">
                <input type="search" name="search" required>
                <i class="fa fa-search"></i>
              </form></div>

    <div class="inventer">
       
            
              <table>
                <tr>
                  <th>Expiry Date</th>
                  <th>ID</th>
                  <th>Blood Group</th>
                  <th>Status</th>
                </tr>
                {{#each Invent}}
                <tr>
                    <td>{{this.expiryDate}}</td>
                    <td>{{this.id}}</td>
                    <td>{{../search}}</td>
                    <td><a id="statusBlock" href="/admin/book?id={{this.id}}&bloodGroup="{{../search}}"" >Book</a></td>
                </tr>
                {{/each}}
                <!-- Add more rows as needed -->
              </table>
              
        </div>
        <h1>Blood Stock(Units)</h1>

        <div class="container">
            
            <div class="chart">
                <canvas id="myChart" width="400" height="200"></canvas>
            </div>
            <div class="chart">
                <canvas id="myChart2" width="400" height="200"></canvas>
            </div>
            
            <div class="chart">
                <canvas id="myChart3" width="400" height="200"></canvas>
            </div>
        </div>
    </div>

    </div>




     <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chartData = {{{ chartData }}};
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: chartData,
            options: {
                responsive: false,
                maintainAspectRatio: false
            }
        });

        var ctx = document.getElementById('myChart2').getContext('2d');
        var chartData = {{{ chartData }}};
        var myChart = new Chart(ctx, {
            type: 'radar',
            data: chartData,
            options: {
                responsive: false,
                maintainAspectRatio: false
            }
        });

        var ctx = document.getElementById('myChart3').getContext('2d');
        var chartData = {{{ chartData }}};
        var myChart = new Chart(ctx, {
            type: 'polarArea',
            data: chartData,
            options: {
                responsive: false,
                maintainAspectRatio: false,
                scales: {
                    r: {
                        suggestedMin: 0
                    }
                }
            }
        });
        let  msg='{{msg}}'
        if(msg=='1')
        {
            ok()
        }
        else{
            console.log('no')
        }


        function ok() {
                console.log("OK seet")
                const Toasts = Swal.mixin({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 5000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                    }
                });
                Toasts.fire({
                    icon: "success",
                    title: 'Blood Booked Successfully'
                });
            }


    </script> 

</body>



</html>